*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    width: 100%;
}

body{
    background-image: url("./resources/vecteezy_monochrome-birthday-pattern-with-cute-hand-drawn-doodles_.jpg");
    background-size: 500px 500px;
    background-blend-mode: overlay;
    position: relative;
    width: 100%;
}

.filter-container{
    background-image: linear-gradient(220deg,rgba(127, 182, 150, 0.9), rgba(255,255,255,0.9), rgb(56, 163, 101, 0.9));
    /* height: 100%; */
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.container{
    width: 100%;
}

.header{
    margin-top: 100px;
    margin-bottom: 100px;
}

.header h1{
    text-align: center;
    font-size: 60px;
    -webkit-text-fill-color: transparent; 
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    height: 140px;
    font-family: "Playwrite CU", cursive;
    font-optical-sizing: auto;
    position: relative;
    /* font-weight: <weight>; */
}

.header h1:nth-of-type(1){
    top: -300px;
    animation-name: fromtop;
    animation-duration: 400ms;
    /* animation-iteration-count: infinite; */
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    /* animation-direction: alternate; */
}

@keyframes fromtop {
    100%{
        top: 0px;
    }
}

.header h1:nth-of-type(2){
    left: 300%;
    animation-name: fromleft;
    animation-duration: 800ms;
    /* animation-iteration-count: infinite; */
    animation-timing-function: cubic-bezier(1, -0.04, 0.5, 1);
    animation-fill-mode: forwards;
    /* animation-direction: alternate; */
}

@keyframes fromleft{
    100%{
        left: 0;
    }
}

.header h1:nth-of-type(3){
    right: 300%;
    animation-name: fromright;
    animation-duration: 1200ms;
    /* animation-iteration-count: infinite; */
    animation-timing-function: cubic-bezier(1, -0.04, 0.5, 1);
    animation-fill-mode: forwards;
    /* animation-direction: alternate; */
}

@keyframes fromright{
    100%{
        right: 0;
    }
}

.header h1:nth-of-type(4){
    right: 300%;
    animation-name: fromright;
    animation-duration: 1600ms;
    /* animation-iteration-count: infinite; */
    animation-timing-function: cubic-bezier(1, -0.04, 0.5, 1);
    animation-fill-mode: forwards;
    /* animation-direction: alternate; */
}

@keyframes fromright{
    100%{
        right: 0;
    }
}

.header h1:nth-of-type(4),.header h1:nth-of-type(2){
   -webkit-text-stroke-color: rgb(56, 163, 101);
}

.header h1:nth-of-type(4){
   margin-left: 100px;
}
.header h1:nth-of-type(2){
    margin-right: 200px;
}


.image{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.stick{
    width: 350px;
    height: 470px;
    background-color: rgb(56, 163, 101) ;
    margin-bottom: 50px;
    border-radius: 20px;
    overflow: hidden;
    /* box-shadow:inset 0px 0px 0px 5px white; */
}

.stick:nth-of-type(1),.stick:nth-of-type(3),.stick:nth-of-type(5){
    transform-origin: top right;
    position: relative;
    left: 200% ;
    animation-name: rotate-fromright;
    animation-duration: 3s;
    animation-play-state: paused;
    /* animation-iteration-count: infinite; */
    animation-timing-function: cubic-bezier(1, -0.04, 0.5, 1);
    animation-fill-mode: forwards;
    /* animation-direction: alternate; */
}

@keyframes rotate-fromright{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(-10deg);
       left: 0;
    }
    50%{
        transform: rotate(10deg);
       left: 0;
    }
    75%{
        transform: rotate(-5deg);
       left: 0;
    }
    100%{
        transform: rotate(0deg);
       left: 0;
    }
}

.stick:nth-of-type(2),.stick:nth-of-type(4),.stick:nth-of-type(6){
   
    /* transform: rotate(5deg); */
    transform-origin: top left;
    position: relative;
    right: 200% ;
    animation-name: rotate-fromleft;
    animation-duration: 3s;
    animation-play-state: paused;
    /* animation-iteration-count: infinite; */
    animation-timing-function: cubic-bezier(1, -0.04, 0.5, 1);
    animation-fill-mode: forwards;
    /* animation-direction: alternate; */
}

@keyframes rotate-fromleft{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(10deg);
        right: 0;
    }
    50%{
        transform: rotate(-10deg);
        right: 0;
    }
    75%{
        transform: rotate(5deg);
        right: 0;
    }
    100%{
        transform: rotate(0deg);
        right: 0;
    }
}

.stick div{
    height: 400px;
    width: 350px;
}

.stick img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.stick i{
    font-size: 50px;
    margin: 10px 0 0 10px;
    color: white ;
}

.footer{
    color: white;
    font-size: 18px;
    width: 90%;
    margin: auto;
    font-family: "Playwrite CU", cursive;
    font-optical-sizing: auto;
    text-align: justify;
    
}

.stick.play{
    animation-play-state: running;
}

.me{
    text-align: right;
    margin-bottom: 50px;
}

.red{
    color: red;
}


/* .verify{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 800vh;
    margin: auto;
    overflow: hidden;
    background-color: white;
    display: flex;
    justify-content: center;
    padding-top: 500px;
} */

input[type=text]{
    font-size: 50px;
    border-radius: 10px;
    color: rgb(56, 163, 101);
}

input[type=text]:focus{
    outline: none;
    border: 5px solid  rgb(56, 163, 101);
    caret-color: rgb(56, 163, 101);
    padding-left: 2px;
    font-size: 50px;
}

button{
    border: none;
    background: none;
    font-size: 50px;
    color: rgb(56, 163, 101);
    cursor: pointer;
}

@media (min-width: 1000px){
    .container{
        width: 80%;
        margin: auto;
    }
    .header h1{
        font-size: 100px;
        height: 150px;
    }

    .image{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .image .stick{
        width: 50%;
        margin-right: 50%;
    }

    .stick div{
        width: 100%;
    }

    .stick:nth-of-type(2),.stick:nth-of-type(4),.stick:nth-of-type(6){
        margin-left: 50%;
        margin-right: 0;
    }

    .footer{
        font-size: 30px;
    }
}

